# Основні залежності
-r requirements.txt

# Розробка та відладка
django-debug-toolbar
django-extensions
ipython
jupyter

# Тестування
pytest
pytest-django
pytest-cov
pytest-mock
factory-boy
coverage
mixer

# Лінтинг та форматування
black
flake8
isort
bandit
pre-commit
mypy
django-stubs

# Профілювання
django-silk
memory-profiler

# Документація
mkdocs
mkdocs-material

# Утиліти
watchdog
python-dotenv